---
layout: page
title:
subtitle: IT Proffessional, Web Development, Media Industry, Husband, Dad
---

<div>
  <p>
  With 17 years of experience on IT and 12 in media companies, i'm business oriented, data driven and focused on "making things happen" while being highly creative. I'm fluent in both spanish and english, with excellent interpersonal communication skills that have given me the opportunity to work with people all over the world, at home and abroad.
  </p>
  <p>
    I´m a proud husband and father living in Honduras, Central America.
  </p>
</div>

<p>
  <span class="fa fa-twitter"></span>
  I´m mostly active on Twitter, tweeting mostly about my business related interests and a couple of daily living tweets here and there.
  Find me as <a href="https://twitter.com/{{ site.author.twitter }}" title="leonidasmejia"><strong>@leonidasmejia</strong></a>
</p>
<p>
  <span class="fa fa-linkedin"></span>
  Check my profile on <a href="{{ site.author.linkedin }}" title="Leonidas Mejia"><strong>LinkedIn</strong></a>
</p>


<!-- <div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>

   </article>
  {% endfor %}
</div> -->

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
